
.button,b1,b2,b3{
  
  display: inline-block;
  width: 350px;
  height: 100px;
  border-radius: 15px;
  border-color: rgb(20,20,102);
   stroke-width: 3px;
  stroke: #141466; 
  color: #DADAE6;
  font-size: 36px;
  font-weight: 700;
  word-wrap: break-word;
  /* filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25)); */
  cursor:pointer;
  
}
.b1 {
  background-color: rgb(67,69,198);
  color: white;
}
.b2 {
  background-color: rgb(255, 255, 255);
  color: rgb(20,20,102);
}
.b3 {
  background-color: rgb(20,20,102);;
  color:white;
}
.b4 {
  color: #6679D2;
background-color: white;
text-align: center;
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.text-style {
  background: linear-gradient(180deg, #18005D 0%, rgba(0, 102, 222, 0.00) 100%, rgba(98, 0, 133, 0.00) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
text-align: center;
text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 0;
}
.italic {
font-size: 100px;
color:  black;
}
.whole-page {
  overflow: hidden;
}
.top-border {
  width: 100%;
  height: 10%;
  top: 0;
  position: fixed;
  border-bottom: 1px solid rgb(0, 0, 0);
  /* background-color: aquamarine; */
}
.content-top-border {
  margin-left: 2.5%;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: blue; */
}
.page-name {
  margin-left: 40%;
  color: #141466;

font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.left-elements {
  display:inline-block;
  /* background-color: azure; */
  cursor: pointer;
  
}
.book-image {
  
  height: 50px;
  width: 50px;
  /* background-color: rebeccapurple; */
}
.right-elements {
  margin-left: auto;
  /* background-color:  red; */
  
}
.info-image {

  height: 50px;
  width: 50px;
  cursor: pointer;
  /* background-color:  yellow; */
}
.body-content {
  display: flex;
  margin-top: 2%;
}
.body-buttons {
  margin-top: 14%;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.body-buttons .button {
  margin-bottom: 20%; 
}
.body-image-book {
  width: 469px;
height: 439px;
padding-bottom: 5%;
margin-top: auto;
}
.body-image {
  
}
.right-body {
  margin-left: 27%;
  margin-top: 6%;
}
.start-button {
margin-top: 10%;
margin-left: 13%;
display: flex;
align-content: center;
justify-content: space-between;
}
.question-body {
  height: 50px;
  width: 50px;
  margin-top: 5%;
}
.slider {
  background-color: #a5a3ac;
  width: 150%;
  height:  3px;
  transform: translateX(-2%);
}
.slider .thumb {
  width: 15px;
  height: 15px;
  cursor: grab;
  background-color: #141466;
  border-radius: 8px;
  background-color: rgba(227, 232, 238, 1);
  border: rgba(193, 201, 210, 1) 2px solid;
  bottom: -7px;
}
.slider .thumb:active {
  cursor: grabbing;
}
.slider-b {
  margin-top: 20%;
  margin-left: 10%;
  position: fixed;
  /* padding-right: 20%; */
}
.thumb-value {
  position: absolute;
  bottom: 20px; /* Расстояние от ползунка до текста */
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  color: var(--gray-100, #E3E8EE);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 133.333% */
  background-color: rgba(60, 66, 87, 1);
  width: 20px;
  border-radius: 4px;
background: var(--gray-700, #3C4257);
/* Light / Elevation 300 */
box-shadow: 0px 1px 3px 0px rgba(55, 65, 81, 0.10), 0px 1px 2px 0px rgba(55, 65, 81, 0.06);
}
.track {
  height: 100%;
  background:rgba(193, 201, 210, 1); /* Цвет трека (заполненной части) по умолчанию */
  cursor: pointer;
  position: relative;
  border-radius: 8px;
  
}
.track-0 {
  
background: var(--blue-500, #5469D4);
}
.track::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 50%); /* Пример: ширина заполненной части */
  height: 100%;
  background: #007BFF; /* Цвет заполненной части */
  z-index: -1; /* Помещаем заполненную часть под треком */
}
.lines {
  /* background-color: black;  */
  display: flex;
  align-items: center; 
  justify-content: space-between;
  margin-top:10px;
  width: 150%;
  transform: translateX(-2%);
}

.thin-line::before  {
  content: "";
  position: absolute;
  width: 4px;
  height: 16px; 
  border-radius: 5px;
background: linear-gradient(0deg, #C8C8C8 0%, #C8C8C8 100%), #C8C8C8;
}
.thick-line::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 25px; 
  border-radius: 5px;
background: linear-gradient(0deg, #C8C8C8 0%, #C8C8C8 100%), #C8C8C8;
}
.numbers {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  margin-top:10px;
  width: 165%;
  margin-left: 30%;
  /* max-width:  30%; */
  transform: translateX(-26%);
}
.numbers2 {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  margin-top:10px;
  width: 100%;
  margin-left: 32%;
  /* max-width:  30%; */
  transform: translateX(-35%);
}

.thick-number {
  color: #000000;

text-align: center;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 53.333% */
/* margin-left: 30%; */
margin-right: 5%;
padding: 0;
}
.thin-number {
  color: #000;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 80% */
margin-right: 7%;
padding: 0;
}
.slider-name {
  display: flex;
  justify-content: center;
  width: 150%;
  margin-bottom: 30px;
  color: #000;
text-align: center;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
/* font-family: Inter; */
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 53.333% */
}
.images-above {
  margin-top: 7%;
  width:60%;
  display: flex;
}
.right {
  margin-left: 2%;
  cursor: pointer;
}
.left {
  margin-left: auto;
  margin-top: 5%;
  cursor: pointer;
}
.save-image-fractal {
  display: inline-block;
  width: 350px;
  height: 100px;
  border-radius: 15px;
  border-color: rgb(20,20,102);
   stroke-width: 3px;
  stroke: #141466; 
  color: #DADAE6;
  font-size: 36px;
  font-weight: 700;
  word-wrap: break-word;
  filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25));
  cursor:pointer;
  background-color: rgb(67,69,198);
  color: white;
  margin-top: 5%;
  margin-left: 16.5%;
}
body {
  overflow: hidden;
}


.slider-canvas-container {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin-right: 10%;
}

.canvasVicsek {
  margin-top: 10%;
  width: 500px;
  height: 500px;
  border: 1px solid #000000;
  margin-left: auto;
}

.button-container {
  position: absolute;
  bottom: 50px;
  left: 75px;
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.vichek-button,
.newton-button {
  display: inline-block;
  margin-left: 20px;
  width: 400px;
  height: 100px;
  border-radius: 15px;
  border-color: rgb(20, 20, 102);
  stroke-width: 3px;
  stroke: #141466;
  color: #DADAE6;
  font-size: 36px;
  font-weight: 700;
  word-wrap: break-word;
  filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  background-color: rgb(67, 69, 198);
  color: white;
}

.active-vichek-button,
.active-newton-button {
  margin-left: 20px;
  display: inline-block;
  width: 350px;
  height: 100px;
  border-radius: 15px;
  border-color: rgb(20, 20, 102);
  stroke-width: 3px;
  stroke: #141466;
  color: #DADAE6;
  font-size: 36px;
  font-weight: 700;
  word-wrap: break-word;
  filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  background-color:white;
  color: #141466;;
}


.newton-thick-number {
  color: #000000;

text-align: center;
font-family: Inter;
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 53.333% */
/* margin-left: 30%; */
margin-right: 3%;
padding: 0;
}
.newton-thin-number {
  color: #000;
text-align: center;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 80% */
margin-right: 6.8%;
padding: 0;
}

.sliderzoom {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 120px;
  margin-right: 50%;
}
.zoom {
  margin-top: 50px;
  transform: translateY(-50px);
  width: 500px;
}
.upload-save {
  display: inline-block;
  margin-left: 20px;
  width: 300px;
  height: 100px;
  border-radius: 15px;
  border-color: rgb(20, 20, 102);
  stroke-width: 3px;
  stroke: #141466;
  color: #DADAE6;
  font-size: 36px;
  font-weight: 700;
  word-wrap: break-word;
  filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  background-color: rgb(67, 69, 198);
  color: white;
}
.color-image {
  max-width: 600px;
  max-height:  400px;
  min-width: 500px;
  min-height:  400px;
  float: right;
  margin-right: 50px;
}
.color-sliders {
  display: flex;
  flex-direction: column;
}
.color-body {
  margin-top: 0px;
  height: 100%;
}
.color-container {
  display: flex;
  margin-top: 230px;
}
.ml {
  margin-left: 150px;
}
.slider-container12 {
  margin-left: 60px;
  position: relative;
  width: 300px; /* Задайте ширину по вашему выбору */
  display: flex;
  flex-direction: column;
}

.slider1 {
  margin-top: 50px;
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border: 1px solid black;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider1:hover {
  opacity: 1;
}

.slider1::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  border: 1px solid black;
  cursor: pointer;
}

.slider1::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #00FFFF;
  cursor: pointer;
}
.s2 {
  background: linear-gradient(to right, #ffffff 0%, 	#00FFFF 100%);
}
.s3 {
  background: linear-gradient(to right, #ffffff 0%, 	#FF00FF 100%);
}
.s4 {
  background: linear-gradient(to right, #ffffff 0%, 	#FFFF00 100%);
}
.s5 {
  background: linear-gradient(to right, #ffffff 0%, 	#000000 100%);
}
.s2::-webkit-slider-thumb {
  background: #00FFFF;
}
.s3::-webkit-slider-thumb {
  background: #FF00FF;
}
.s4::-webkit-slider-thumb {
  background: #FFFF00;
}
.s5::-webkit-slider-thumb {
  background: #000000;
}
.s12 {
  background: linear-gradient(to right, red 0%,orange 10%,yellow 15%, lime 20%, green 25%,lime 30%, cyan 35%,aquamarine 40%, cyan 45%,blue 50%,pink 55%,
  purple 60%,magenta 65%, purple 70%,pink 75%,red 100%);
}
.s13 {
  background: linear-gradient(to right, red 0%, 	white 100%);
}
.s14 {
  background: linear-gradient(to right, black 0%, 	white 100%);
}
.xd {
  margin-left: 550px;
  margin-top: 250px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1001;
}

.close-button {
  cursor: pointer;
  background: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
}
.modal-body {
  display: flex;
}
.info-image-2 {
  width: 150px;
  height: 150px;
}
.figure-pagecontent {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  height: 600px;
}


.figure-values {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 50px;
 margin-top :120px;
  height: 400px;
  width: 500px;
  
}

.coefficients, .vertices {
  flex: 1;
  margin-right: 20px;
}

.vertex {
  margin-bottom: 15px;
  margin-left: 100px;
}
.coefficients {
  margin-right: 30px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.figure-button {
  padding: 10px 15px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

button:hover {
  background-color: #45a049;
}

input {
  padding: 8px;
  width: 80px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

input:focus {
  outline: none;
  border-color: #4caf50;
}
svg {
  margin-bottom: 600px;
  margin-right: 300px;
}
.square {
  height: 20px;
  
}
.a1 {
  margin-bottom: 30px;
  margin-left: 170px;
}
